<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Login Page</title>

    <link rel="icon" href="{% static 'sb-bootstrap/img/rx 3 favicon1.png' %}">

    <!-- custom css style -->
    <link rel="stylesheet" href="{% static 'sb-bootstrap/css/login.css' %}">

    <!-- Custom fonts for this template-->
    <link href="{% static 'sb-bootstrap/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'sb-bootstrap/css/sb-admin-2.min.css' %}" rel="stylesheet">



    <!-- DIFFERENT STYLE FROM THE REST -->

    <style type="text/css">
        img {
            margin-left: 90px;
            margin-top: 20px;
        }
        .error-message{
            color: red;
            width: 100%;
            text-align: center;
        }
    
    </style>
</head>
<body class="bg-warning">
    <div class="container">

        <!-- Outer row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-3" id="extra-top">
                    <div class="card-body p-0">
                        <!-- Nested row within card body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block login-img">
                                <img alt="login-image" width="400" src="{% static 'sb-bootstrap/img/Mobile login-cuate.png' %}">
                            </div>
                            <div class="col-lg-6 extra-padding">
                                <div class="p-5">
                                    <div class="text-center rotate-n-15">
                                        <i class="fas fa-shopping-bag fa-2x"
                                        style="color: var(--yellow);"></i>
                                    </div>

                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Hi Welcome Back!</h1>
                                    </div>

                                    <form class="user" method="POST">
                                        {% if messages %}
                                        {% for message in messages %}
                                            <p class="error-message">{{message}}</p>
                                        {% endfor %}
                                        {% endif %}
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user"
           
                                                name="username"
                                                placeholder="Enter Username...">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" name="password" class="form-control form-control-user"
                                                id="exampleInputPassword" placeholder="Password">
                                        </div>
                                        
                                        <button class="btn btn-primary btn-user btn-block">Login</button>
                                        
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="{% url 'user-creation' %}">Create an Account!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </div> 
   <div class="footer">
    <div class="text-center">
        <p class="text-white footer-text">Developed by Peter</p>
    </div>
    </div>


    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'sb-bootstrap/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'sb-bootstrap/vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'sb-bootstrap/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'sb-bootstrap/js/sb-admin-2.js' %}"></script>


</body>

</html>