<!DOCTYPE html>
<html lang="en">
    {% load static %}

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Forgot Password</title>

    <link rel="icon" href="{% static 'sb-bootstrap/img/rx 3 favicon1.png' %}">

    <!-- custom css style -->
    <link rel="stylesheet" href="{% static 'sb-bootstrap/css/login.css' %}">

    <!-- Custom fonts for this template-->
    <link href="{% static 'sb-bootstrap/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'sb-bootstrap/css/sb-admin-2.min.css' %}" rel="stylesheet">

<style type="text/css">
    img {
        margin-left: 90px;
    }

    ul, ol{
        list-style: none;
    }

</style>
</head>
<body class="bg-primary">
        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-password-image">
                                <img alt="password-reset-img" width="400" src="{% static 'sb-bootstrap/img/Forgot password-amico.png' %}">
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <i class="fas fa-sad-tear fa-2x"
                                        style="color: var(--grey);"></i>
                                    </div>
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-2">Want to Change Your Password?</h1>
                                        <p class="mb-4">We get it, stuff happens. Just enter the three password fields below</p>
                                    </div>

                                    {% for field in form %}
                                        {% for error in field.errors %}
                                            <p style="color: red; line-height: 3px; font-size: 14px; text-align: center">{{error|escape}}</p>
                                        {% endfor %}

                                    {% endfor %}

                                    <!-- {{form.errors}} -->
                                    <form class="user" method="POST">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            {{form.old_password}}
                                        </div>

                                        <div class="form-group">
                                            {{form.new_password1}}
                                           
                                        </div>

                                        <div class="form-group">
                                            {{form.new_password2}}
                                        </div>

                                        

                                        
                                        <button class="btn btn-primary btn-user btn-block">
                                            Change Password
                                        </button>
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="{% url 'user-creation' %}">Create another Account!</a>
                                    </div>
                                    <!-- <div class="text-center">
                                        <a class="small" href="{% url 'login-user' %}">Already have an account? Login!</a>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'sb-bootstrap/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'sb-bootstrap/vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'sb-bootstrap/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'sb-bootstrap/js/sb-admin-2.js' %}"></script>

   <!--  <script src="{% static 'sb-bootstrap\js\sb-admin-2.js' %}"></script> -->


</body>

</html>