{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title></title>

    <link rel="icon" href="{% static 'sb-bootstrap/img/rx 3 favicon1.png' %}">

    <!-- custom css style -->
    <link rel="stylesheet" href="{% static 'sb-bootstrap/css/inventory.css' %}"> 

    <!-- custom css style for product -->
    <link rel="stylesheet" href="{% static 'sb-bootstrap/css/product.css' %}">

    <!-- Custom fonts for this template-->
    <link href="{% static 'sb-bootstrap/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <link rel="stylesheet" href="{% static 'sb-bootstrap/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'sb-bootstrap/css/sb-admin-2.min.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'select2/dist/css/select2.css' %}">
    <link rel="stylesheet" href="{% static 'select2/dist/css/select2-bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'assets/custom.css' %}">

    <script src="{% static 'sb-bootstrap/vendor/jquery/jquery.js' %}"></script>
    <script src="{% static 'select2/dist/js/select2.js' %}"></script>

</head>



<!-- BLOCK TAG COMES HERE -->

{% block content %}

{% endblock %}





<script>
    $(document).ready(function() {
        $('.js-example-basic-single').select2();
    });

    $(document).ready(function() {
        $('.js-example-basic').select2();
    });
</script>


<!-- Bootstrap core JavaScript-->
<script src="{% static 'sb-bootstrap/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'sb-bootstrap/vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>

<!-- Custom Select JS -->
<script src="{% static 'select2/dist/js/select2.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'sb-bootstrap/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'sb-bootstrap\js\sb-admin-2.js' %}"></script>


<!-- Page level plugins -->
<script src="{% static 'sb-bootstrap/vendor/datatables/jquery.dataTables.js' %}"></script>
<script src="{% static 'sb-bootstrap/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

<!-- Page level custom scripts -->
<script src="{% static 'sb-bootstrap/js/demo/datatables-demo.js"></script>


<!--  <script src="{% static 'sb-bootstrap\js\sb-admin-2.js' %}"></script> -->


</body>

</html>