{% load static %}


<!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form
                    class="d-sm-inline-block  mr-auto ml-md-3 my-2 my-md-0 mw-100">
                    <div class="logo bold font-weight-bold">
                        Ovbioise Supermarket
                    </div>
                </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Alerts -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <!-- Counter - Alerts -->
                                <span class="badge badge-danger badge-counter">{{notification_count}}+</span>
                            </a>
                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Alerts Center
                                </h6>



                                {% if notification_count != 0 %}
                                {% for notify in nav_notify %}

                                    {% if notify.notification_type == 1 %}
                                        <a class="dropdown-item d-flex align-items-center" href="{% url 'notify:super_notification' %}">
                                            <div class="mr-3">
                                                <div class="icon-circle bg-warning">
                                                    <i class="fas fa-exclamation-triangle text-white"></i>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="small text-gray-500">{{notify.date_of_action}}</div>
                                                <strong>{{notify.text_preview}} </strong>
                                            </div>
                                        </a>
                                    {% endif %}

                                    {% if notify.notification_type == 2 %}
                                        <a class="dropdown-item d-flex align-items-center" href="{% url 'notify:super_notification' %}">
                                            <div class="mr-3">
                                                <div class="icon-circle bg-success">
                                                    <i class="fas fa-luggage-cart text-white"></i>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="small text-gray-500">{{notify.date}}</div>
                                                <span class="font-weight-bold">{{notify.text_preview}}</span>
                                            </div>
                                        </a>
                                    {% endif %}

                                    
                                {% endfor %}
                                {% endif %}
                            

                                <a class="dropdown-item text-center small text-gray-500" href="{% url 'notify:super_notification' %}">Show All Alerts</a>
                            </div>
                        </li>

                        

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ user.profile.position|title }} {{ user.profile.first_name|title  }} {{ user.profile.last_name|title  }}</span>
                                {% if user.profile.image %}
                                    <img class="img-profile rounded-circle"
                                        src="{{ user.profile.image.url }}">
                                {% else %}

                                    <img class="img-profile rounded-circle"
                                        src="{{ user.profile.ImageURL }}">
                                {% endif %}
                                
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="{% url 'profile-detail' %}">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'phar:dashboard' %}">
                                    <i class="fas fa-shopping-cart fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Pharmacy
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'change-password' %}">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Change Password
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->